@keyframes girar {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

*{
  font-family: 'Courier New', Courier, monospace;
}

body{
  padding: 20px;
  background-image: url("./Imagenes/fondo.jfif");

  display: flex;
  flex-direction: column;
  justify-content: center;

}

form{
  text-align: center;
}

.flex-container{
  margin: 0px auto;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.card{
  margin: 0px auto;
  border: 1px solid black;
  text-align: center;
  width: 500px;
  padding: 10px;
  border-radius: 20px;
  border: 3px solid black;
  box-shadow: 0px 0px 10px #3da9c7;

  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.card p{
  font-weight: bolder;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.card img{
  width: 400px;
}

ol{
  padding: 0px;
}

.cards-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;
  box-shadow: 0px 0px 10px #3da9c7;
  border-radius: 40px;
  border: 2px solid #61DAFB ;
  margin-bottom: 20px;
}

.animate__animated{
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0px auto;
  background-color: black;
  color: white;
  width: 50%;
  margin-bottom: 20px;
  border-radius: 40px;
  padding: 20px 0px 20px 0px;
  font-size: 25px;
  text-align: center;
  border: 2px solid gray;
  box-shadow: 0px 0px 10px #61DAFB;
  font-weight: bolder;
  padding-left: 15px;
  padding-right: 15px;
}

.reactImagen{
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;

  animation: girar 3s linear infinite ;
}

.category{
  background-color: black;
  color: #3da9c7;
  padding: 20px;
  border-radius: 20px;
  font-size: 25px;
  font-weight: bolder;
  text-shadow: 3px 3px 4px #3da9c7;
  border: 3px solid #3da9c7;
  box-shadow: 2px 2px 5px #3da9c7;
  width: 50%;
  margin-top: 20px;
}

#input{
  padding: 20px;
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 10px;
  margin: 0px auto;
  width: 90%;
  height: 20px;
  font-size: 20px;
  color: black;
  border: 1px solid #3da9c7;
}



@media (max-width: 570px) {
  
  #input{
    font-size: 15px;
  }

  .card img{
    width: 170px;
  }

}

@media (max-width: 785px) {
  
  

  .animate__animated{
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }

  .reactImagen{
    width: 40px;
  }

}